<table border="0">
    <tr>
        <td><a href="https://www.linkedin.com/in/yuhi-sa/">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"  width="40px"/></a></td>
        <td><a href="https://twitter.com/yuhi_sa1192">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg" width="40px"/></a></td>
        <td><a href="https://github.com/yuhi-sa">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="40px"/></a></td>
        <td><a href="https://atcoder.jp/users/yuhisaiki">
            <img src="https://img.atcoder.jp/assets/top/img/logo_bk.svg" width="40px"/></a></td>
        <td><a href="https://codeforces.com/profile/yuhi-sa">
            <img src=https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/codeforces-1024.png width="40px"/></a></td>
        <td><a href="https://www.kaggle.com/yuhisa">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/189_Kaggle_logo_logos-1024.png" width="40px"/></a></td>
        <td><a href="https://qiita.com/yuhi-sa">
            <img src="https://cdn.qiita.com/assets/favicons/public/apple-touch-icon-ec5ba42a24ae923f16825592efdc356f.png" width="40px"/></a></td>
        <td><a href="https://connpass.com/user/yuhi-sa/">
            <img src="https://connpass.com/static/img/common/sitelogo_266x132_bp.png" width="40px"/></a></td>
        </tr>
</table>